In [1]:
import pandas as pd

from twitter import Twitter

twitter = Twitter("edtwt", "2022-01-01", "2022-04-14")

df = pd.read_csv("twitter.csv")
urls = []
for row in df.itertuples():
    url = row.url.split("/status/")[0]
    urls.append(url)


user_stats, failed = twitter.get_user_page(urls)
user_stats.head()

100%|██████████| 1938/1938 [3:09:50<00:00,  5.88s/it]

,https://twitter.com/littlefairybon1,https://twitter.com/ruuzcals,https://twitter.com/b1lliespo,https://twitter.com/meowwmae,https://twitter.com/lalaluvbomb,https://twitter.com/gyuscal,https://twitter.com/howlcals,https://twitter.com/benzodiezapine,https://twitter.com/daikcals,https://twitter.com/stayinghungryy,...,https://twitter.com/teabagcals,https://twitter.com/JAN3KCALS,https://twitter.com/kitti3calz,https://twitter.com/ComplacentOnism,https://twitter.com/punkcalss,https://twitter.com/PetiteNicotine,https://twitter.com/idealistic_moon,https://twitter.com/th1nspoa11ie,https://twitter.com/SAWslitter,https://twitter.com/mistastoegunk
num_tweet,100 Tweets,95 Tweets,589 Tweets,323 Tweets,"3,506 Tweets",726 Tweets,"4,203 Tweets",32 Tweets,274 Tweets,623 Tweets,...,"1,805 Tweets",397 Tweets,627 Tweets,77 Tweets,"1,091 Tweets",616 Tweets,240 Tweets,17 Tweets,21 Tweets,383 Tweets
num_following,12,48,434,118,237,475,93,168,79,53,...,904,79,473,52,401,247,437,13,18,47
num_follower,93,255,718,823,"3,496",955,265,"1,207",100,"2,155",...,"1,629",202,327,3,535,670,460,8,17,46

In [4]:
user_stats2, failed2 = twitter.get_user_page(failed)

100%|██████████| 112/112 [10:43<00:00,  5.75s/it]

In [5]:
user_stats = pd.concat([user_stats, user_stats2])

In [69]:
df_ = user_stats.transpose()
df_

,num_tweet,num_following,num_follower,num_tweet,num_following,num_follower
https://twitter.com/littlefairybon1,100 Tweets,12,93,NaN,NaN,NaN
https://twitter.com/ruuzcals,95 Tweets,48,255,NaN,NaN,NaN
https://twitter.com/b1lliespo,589 Tweets,434,718,NaN,NaN,NaN
https://twitter.com/meowwmae,323 Tweets,118,823,NaN,NaN,NaN
https://twitter.com/lalaluvbomb,"3,506 Tweets",237,"3,496",NaN,NaN,NaN
...,...,...,...,...,...,...
https://twitter.com/th1nspoa11ie,17 Tweets,13,8,NaN,NaN,NaN
https://twitter.com/SAWslitter,21 Tweets,18,17,NaN,NaN,NaN
https://twitter.com/mistastoegunk,383 Tweets,47,46,NaN,NaN,NaN
https://twitter.com/m4mmatus,NaN,NaN,NaN,849 Tweets,191,191
https://twitter.com/v0mitivelove,NaN,NaN,NaN,435 Tweets,54,54

In [87]:
df = pd.concat([df_.iloc[:,0:3].dropna(), df_.iloc[:,3:].dropna()], axis=0)
df.head()

                                        num_tweet num_following num_follower
https://twitter.com/littlefairybon1    100 Tweets            12           93
https://twitter.com/ruuzcals            95 Tweets            48          255
https://twitter.com/b1lliespo          589 Tweets           434          718
https://twitter.com/meowwmae           323 Tweets           118          823
https://twitter.com/lalaluvbomb      3,506 Tweets           237        3,496

In [88]:
df["num_tweet"]=df["num_tweet"].str.replace(" Tweets", "")
df["num_tweet"]=df["num_tweet"].str.replace("Tweet", "")

In [92]:
df["num_tweet"]=df["num_tweet"].str.replace("K","00")
df["num_tweet"]=df["num_tweet"].str.replace(",","")
df["num_tweet"]=df["num_tweet"].str.replace(".","")

df["num_tweet"].astype(int)

/var/folders/74/l6jhlmk114g8kx1pzz2s9fm80000gn/T/ipykernel_36421/2292540842.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["num_tweet"]=df["num_tweet"].str.replace(".","")

https://twitter.com/littlefairybon1     100
https://twitter.com/ruuzcals             95
https://twitter.com/b1lliespo           589
https://twitter.com/meowwmae            323
https://twitter.com/lalaluvbomb        3506
                                       ...
https://twitter.com/KittyKorpsez       1156
https://twitter.com/CHELSEAGlRL         780
https://twitter.com/DietArabella        442
https://twitter.com/m4mmatus            849
https://twitter.com/v0mitivelove        435
Name: num_tweet, Length: 609, dtype: int64

In [93]:
df["num_following"]=df["num_following"].str.replace(",","").astype(int)
df["num_follower"]=df["num_follower"].str.replace(",","").astype(int)

In [95]:
result_df = df.sort_values(["num_follower","num_tweet"], ascending=False)
result_df.head()

                                num_tweet  num_following  num_follower
https://twitter.com/sumthineles       497            181          4408
https://twitter.com/kcalteodeio      6340            677          4174
https://twitter.com/barbieediet      7744           1432          4078
https://twitter.com/NIGGAREXIC       8085            221          3951
https://twitter.com/lalaluvbomb      3506            237          3496

In [96]:
result_df.to_csv("result.csv")